table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,td {
    text-align: center;
    padding: 4px;
  }
 
  tr:nth-child(even){
    background-color: #f2f2f2
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  a:hover, a:active {
    background-color: lightblue;
    border-radius: 5px;
  }
  
  a:nth-child(1){
    background-color: orange;
  }

  
  a:nth-child(2){
    background-color: crimson
  }
  
  h1,h2,h3,h4 {
    text-align: center;
  }
  
  input[type=text], select {
    width: 100px;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ccc;
  }